@media (max-width: 767px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #343243;
    padding: 10px;
  }
  .title {
    font-family: 'Roboto';
    font-size: 10px;
    color: #ffbe38;
    font-weight: 500;
  }
  .links_container {
    display: flex;
    justify-content: flex-end;
  }
  .link_text {
    margin: 5px;
    font-family: 'Roboto';
    font-size: 10px;
    color: white;
    padding: 5px;
    font-weight: 500;
  }
  .link_style {
    text-decoration: none;
  }
  .logout_btn {
    font-family: 'Roboto';
    font-size: 10px;
    color: black;
    font-weight: 500;
    background-color: #cbd5e1;
    border-radius: 5px;
    text-align: center;
    opacity: 0.5px;
    cursor: pointer;
    margin-right:10px;
  }
}
@media (min-width: 768px) {
  .header_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #343243;
  }
  .title {
    font-family: 'Roboto';
    font-size: 20px;
    color: #ffbe38;
    font-weight: 500;
    width: 100%;
    margin-left: 20px;
  }
  .links_container {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    width: 70%;
    margin-left: 250px;
    margin-right: 0px;
  }
  .link_text {
    margin: 10px;
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
    font-weight: 500;
  }
  .link_style {
    text-decoration: none;
  }
  .logout_btn {
    font-family: 'Roboto';
    font-size: 22px;
    color: white;
    font-weight: 500;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    margin-right:10px;
    text-align: center;
    opacity: 0.5px;
    cursor: pointer;
  }
}
