@media (min-width: 768px) {
  .date_btn {
    display: flex;
    padding: 1px;
    justify-content: space-between;
    min-height: 10px;
    min-width: 60px;
    border-radius: 12px;
    background-color: #42404d;
    margin: 5px;
  }
  .date_btn_1 {
    display: flex;
    padding: 1px;
    justify-content: flex-start;
    border-radius: 12px;
    background-color: #42404d;
    align-items: center;
  }
  .date_ele {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
    color: white;
    width: 100%;
  }
  .date_emoji_size {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
}

@media (max-width: 767px) {
  .date_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* max-width: 50px;
    height: 50px; */
    width: 100%;
    border-radius: 12px;
    background-color: #42404d;
    margin: 2px;
  }

  .date_ele {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin: 3px;
  }
  .date_emoji_size {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}
