@media screen and (min-width: 769px) {
  .date_btn {
    display: flex;
    padding: 1px;
    justify-content: space-between;
    min-height: 10px;
    min-width: 60px;
    border-radius: 12px;
    background-color: #42404d;
    margin: 5px;
  }
  .date_ele {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
    color: white;
    width: 100%;
  }
  .date_emoji_size {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 320px) {
  .date_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 20px;
    min-height: 40px;
    border-radius: 12px;
    background-color: #42404d;
    margin: 1px;
  }

  .date_ele {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin: 3px;
  }
  .date_emoji_size {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 376px) and (min-width: 321px) {
  .date_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 40px;
    min-height: 50px;
    border-radius: 12px;
    background-color: #42404d;
    margin: 2px;
  }

  .date_ele {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin: 3px;
  }
  .date_emoji_size {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 426px) and (min-width: 377px) {
  .date_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 50px;
    min-height: 50px;
    border-radius: 12px;
    background-color: #42404d;
    margin: 1px;
  }

  .date_ele {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin: 3px;
  }
  .date_emoji_size {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 769px) and (min-width: 426px) {
  .date_btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 50px;
    min-height: 50px;
    border-radius: 12px;
    background-color: #42404d;
    margin: 3px;
  }

  .date_ele {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin: 3px;
  }
  .date_emoji_size {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}
